body{
    margin: 0;
    background: linear-gradient(pink,lightBlue); 
    background-size: cover;
    height: 700px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 1px solid gold;
    height: 500px;
    width: auto;
    background-color: bisque;
    margin: 40px; 
    text-align: center;
}

h1{
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-shadow: 0 0 30px rgb(23, 1, 5);
}

h1 span{
    color: aqua;
}